section.review {
  padding: 2rem 9%;

  .sub-heading {
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
  }
  .heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
  }

  div.review-slider {
    div.slide {
      padding: 2rem;
      box-shadow: var(--box-shadow);
      border: 0.1rem solid rgba(0, 0, 0, 0.2);
      border-radius: 0.5rem;
      position: relative;

      i.fa-quote-right {
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 6rem;
        color: #ccc;
      }

      div.user {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-bottom: 1.5rem;

        img {
          width: 7rem;
          height: 7rem;
          border-radius: 50%;
          object-fit: cover;
        }
        div.user-info {
          h3 {
            color: var(--black);
            font-size: 2rem;
            padding-bottom: 0.5rem;
          }
          div.stars {
            i {
              font-size: 1.3rem;
              color: var(--green);
            }
          }
        }
      }

      p {
        font-size: 1.5rem;
        line-height: 1.8;
        color: var(--light-color);
      }
    }
  }
}
